.animatedBg {
    position: relative;
    z-index: 2;
    .content{
        position: relative;
        z-index: 2; 
        p{
            font-weight: 300;
            text-align: center;
            font-size: 18px;
        }
    }
    .animated-container {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;

        .bubble {
            width: 20px;
            height: 20px;
            border: 2px solid grey;
            position: absolute;
            border-radius: 50%;

            &.odd-1 {
                width: 30px;
                height: 30px;
                border: 2px solid yellow;
            }

            &.odd-2 {
                width: 40px;
                height: 40px;
                border: 2px solid blue;
            }
            &.odd-2 {
                width: 30px;
                height: 30px;
                border-radius: 0;
                border: 2px solid red;
            }
            &.odd-0 {
                width: 30px;
                height: 30px;
                border-radius: 0;
                border: 2px solid red;
                
            }
        }

        .blur {
            background: transparent;
            width: 150px;
            height: 150px;
            transform: scale(0.5);
            opacity: 0;
            position: absolute;
            border-radius: 50%;
            filter: blur(1.5rem);
            
            background: #fffcd8;
                /* Old browsers */
                background: -moz-linear-gradient(top, #fffcd8 0%, #ffb7b7 50%, #ff93d5 99%);
                /* FF3.6-15 */
                background: -webkit-linear-gradient(top, #fffcd8 0%, #ffb7b7 50%, #ff93d5 99%);
                /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, #fffcd8 0%, #ffb7b7 50%, #ff93d5 99%);
                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffcd8', endColorstr='#ff93d5', GradientType=0);
                /* IE6-9 */
            /* IE6-9 */
            &.odd-1 {

                width: 200px;
                height: 200px;
                /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fffcd8+0,ffb7b7+50,ff93d5+99 */
               /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,cdaaff+50,7f7cff+100 */
            background: #fcecfc;
            /* Old browsers */
            background: -moz-linear-gradient(top, #fcecfc 0%, #cdaaff 50%, #7f7cff 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #fcecfc 0%, #cdaaff 50%, #7f7cff 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #fcecfc 0%, #cdaaff 50%, #7f7cff 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcecfc', endColorstr='#7f7cff', GradientType=0);

            }
        }
    }
}
